<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Tick Tack Game AI | Praveen Yadav</title>
        <meta name="description" content="Tick tack game using html, css and javascript made by Praveen Yadav">
        <script src="src/petite-vue.js"></script>
        <script src="src/main.js" type="module"></script>
    </head>

    <body :class="{'started': !store.state.gameEnd}">
        <h1>TICK TACK GAME AI</h1>
        <div class="container">
            <div class="d-flex mt-1 justify">
                <small>
                    <button @click="store.session.scene=(store.session.scene === 'game'?'history':'game')"
                        title="toggles between history and game">{{store.session.scene === 'game'?'history':'game'}}</button>
                </small>
                <small><button @click="methods.store.undoState" title="undo your last move">UNDO</button></small>
                <small><button @click="methods.store.getState" title="loads your last unfinished games">LOAD
                        SAVED</button></small>
            </div>
        </div>
        <div class="container mt-1" v-if="store.session.scene === 'game'" id="game">
            <small>
                <button
                    @click="methods.toggleFullScreen(); document.fullscreenElement?$el.classList.remove('text-green'):$el.classList.add('text-green')"
                    title="toggles Fullscreen">Full
                    Screen</button>
                <button @click="methods.initAI(store.state.ai !== null)"
                    :class="{'text-green': store.state.ai !== null}" :disabled="!store.state.gameEnd"
                    title="toggles AI player and hardness mode">Enable{{store.state.ai?('d (AI: ' + (store.state.ai?._id?store.state.players[store.state.ai?._id-1].key:'') + ')'):' (AI)' }}</button>
            </small>
            <button @click="methods.createNewMap">NEW GAME</button>
            <section class="map-select" title="select you player">
                <div class="tile" v-for="(player, index) in store.state.players" :key="player._id" :title="player.name"
                    :class="{'active': store.state.currPlayer === index+1, 'disabled': store.state.currPlayer}"
                    @click="store.state.currPlayer || methods.playerSelectClick($el, index+1)"
                    :disabled="store.currPlayer">
                    <img v-if="player" :src="player.img" class="tile-img" :class="player.alt" :alt="player.alt">
                </div>
            </section>
            <section class="map">
                <div class="tile" v-for="(tile, index) in store.state.tiles.flat()" :key="index"
                    @click="tile != 0 || methods.tileClick($el, {r:0, c:index})"
                    :class="{'disabled': tile != 0 || store.state.gamePaused || store.state.gameEnd}">
                    <img v-if="tile == 1" :src="store.state.players[0].img" class="tile-img"
                        :class="store.state.players[0].alt" :alt="store.state.players[0].alt">
                    <img v-else-if="tile == 2" :src="store.state.players[1].img" class="tile-img"
                        :class="store.state.players[1].alt" :alt="store.state.players[1].alt">
                </div>
            </section>
            <strong :style="{color: store.state.msgColor??'white'}">{{store.state.msg}}</strong>
            <div class="d-flex" title="rename you players">
                <label v-for="player in store.state.players" :key="player._id">{{player.key}}'s Name
                    <input type="text" placeholder="Player name" v-model="player.name" maxlength="10" @change="if ($el.value.startsWith('AI:'))
                    $el.value = $el.value.replace('AI:', '')" :disabled="!store.state.gameEnd">
                </label>
            </div>
        </div>
        <div class="container" v-else-if="store.session.scene === 'history'">
            <section class="mt-1">
                <hr />
                <div class="d-flex justify">
                    <strong>#</strong>
                    <strong>Winner</strong>
                    <strong>Player 1</strong>
                    <strong>Player 2</strong>
                </div>
                <hr />
                <div v-for="(history, index) in store.gameHistory" class="d-flex justify">
                    <span>{{ (index+1).toString().padStart(2, '0') }}</span>
                    <span v-if="history.winner">{{history.players[history.winner-1].name}}</span>
                    <span v-else>{{'...DRAW..'}}</span>
                    <span v-for="player in history.players" :key="player._id">{{player.name}}</span>
                </div>
                <hr />
            </section>
        </div>

        <dialog id="ai-mode-select--modal">
            <h4>Select AI Mode</h4>
            <hr>
            <button v-for="mode in CONSTANTS.aiModes" :key="mode"
                @click="methods.selectAIMode($el, mode)">{{ mode }}</button>
            <hr>
            <button @click="store.state.ai = null;$el.parentElement.close()" class="small">Cancel</button>
        </dialog>
    </body>

</html>
