<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Tick Tack Game | Praveen Yadav</title>
        <meta name="description" content="Tick tack game using html, css and javascript made by Praveen Yadav">
        <script src="src/petite-vue.js"></script>
        <script src="src/main.js" type="module"></script>
    </head>

    <body>
        <h1>TICK TACK GAME</h1>
        <div class="container">
            <div class="d-flex mt-1 justify">
                <small>
                    <button
                    @click="store.session.scene=(store.session.scene === 'game'?'history':'game')">{{store.session.scene === 'game'?'history':'game'}}</button>
                </small>
                <small><button @click="store.undoState">UNDO</button></small>
                <small><button @click="store.getState">LOAD SAVED</button></small>
            </div>
        </div>
        <div class="container mt-1" v-if="store.session.scene === 'game'" id="game">
            <small>
                <button
                    @click="methods.toggleFullScreen()">Full Screen</button>
            </small>
            <button @click="methods.createNewMap">NEW GAME</button>
            <section class="map-select">
                <div class="tile" v-for="(player, index) in store.state.players" :key="player._id" :title="player.name"
                    :class="{'active': store.state.currPlayer === index+1, 'disabled': store.state.currPlayer}"
                    @click="store.state.currPlayer || methods.playerSelectClick($el, index+1)"
                    :disabled="store.currPlayer">
                    <img v-if="player" :src="player.img" class="tile-img" :class="player.alt" :alt="player.alt">
                </div>
            </section>
            <section class="map">
                <div class="tile" v-for="(tile, index) in [].concat(...store.state.tiles)" :key="index"
                    @click="tile != 0 || methods.tileClick($el, {r:0, c:index})"
                    :class="{'disabled': tile != 0 || store.state.gamePaused || store.state.gameEnd}">
                    <img v-if="tile == 1" :src="store.state.players[0].img" class="tile-img"
                        :class="store.state.players[0].alt" :alt="store.state.players[0].alt">
                    <img v-else-if="tile == 2" :src="store.state.players[1].img" class="tile-img"
                        :class="store.state.players[1].alt" :alt="store.state.players[1].alt">
                </div>
            </section>
            <strong :style="{color: store.state.msgColor??'white'}">{{store.state.msg}}</strong>
            <div class="d-flex">
                <label v-for="player in store.state.players" :key="player._id">Player {{player.key}} Name
                    <input type="text" placeholder="Player name" v-model="player.name" maxlength="10">
                </label>
            </div>
        </div>
        <div class="container" v-else-if="store.session.scene === 'history'">
            <section class="mt-1">
                <hr />
                <div class="d-flex">
                    <strong>Winner</strong>
                    <strong>Player 1</strong>
                    <strong>Player 2</strong>
                </div>
                <hr />
                <div v-for="history in store.gameHistory" class="d-flex justify">
                    <span v-if="history.winner">{{history.players[history.winner-1].name}}</span>
                    <span v-else>...Draw...</span>
                    <span v-for="player in history.players" :key="player._id">{{player.name}}</span>
                </div>
                <hr />
            </section>
        </div>
    </body>

</html>
