:root {
    --transition: .2s;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #101010;
    color: white;
}

.container {
    height: clamp(500px, fit-content, 600px);
    width: clamp(200px, fit-content, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

h1 {
    margin: 0.5rem;
}

.mt-1 {
    margin-top: .8rem;
}

.mb-1 {
    margin-bottom: .8rem;
}


button {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #000000;
    color: #f15296;
    border: 2px solid currentColor;
    font-weight: bold;
    text-transform: uppercase;
}

button.small,
small>button {
    padding: .4rem 1rem;
    font-weight: 600;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.d-flex.justify {
    justify-content: space-between;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
}

.map-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
}

.map .tile {
    height: 64px;
    width: 64px;
    border: 0.2px dashed white;
    background-color: #6d2b8b;
}

.map-select .tile {
    height: 64px;
    width: 64px;
    margin: 0.5rem 0.8rem;
    border: 2px white dashed;
    transition: var(--transition) all;
}

.map-select .tile.active {
    outline: 2px solid green;
    outline-offset: 2px;
}

.tile img {
    filter: invert();
    width: 100%;
}

input:disabled {
    background-color: whitesmoke;
}

:disabled,
.disabled {
    cursor: not-allowed;
}
.text-green {
    color: green;
}

body.started button {
    opacity: .8;
}